@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
} 

a {
  color: #5334F5;
  font-weight: 600;
}

.Hero {
  background: url('../images/wallpaper3.jpg');
  height: 920px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
}

.Hero h1 {
 color: #ffffff;
 margin: 0;
 font-size: 56px;
 line-height: 1.2; 
 opacity: 0;
 animation: HeroAnimation;
 animation-duration: 2s;
 animation-delay: 0.1s;
 animation-fill-mode: forwards;
 animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero p {
  color: rgb(255, 255, 255, 0.8);
  font-size: 30px;
  line-height: 1.5;
  opacity: 0;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero a {
  font-size: 17px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(255, 255, 255, 0.7);
  padding: 8px 24px;
  border: 1px solid rgb(255, 255, 255, 0.25);
  border-radius: 24px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero a:hover {
  background: #000000;
  color: #ffffff;
}

@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }

  .Hero h1 {
    font-size: 40px;
  }

  .Hero p {
    font-size: 20px;
  }
}


@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}